header{
    
    background-color: rgb(32, 31, 31);
    padding: 10px;
}
#headertext{
    text-align: center;
    color: white;
}
.mainalign{
    margin: auto;
    width: 60%;
}
.space{
    height: 20px;
}
.section1 {
    background-color: rgb(228, 230, 232);
    border-radius: 0.5cm;
    padding: 16px;
}
h2 {
    color: black;
}
#Thanks{
    text-align: center;
}
footer{
    background-color: rgb(32, 31, 31);
    padding: 10px;
}
#footertext {
    text-align: center;
    color: white;
}
.position {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
.time {
    color: white;
    background-color: rgb(35, 34, 34);
    border-radius: 0.1cm;
    padding: 0.0035%;
    font-size: 12px;
}